/* Header and Nav on Mobile */
.hero {
    display: grid;
    align-items: center;
    grid-template-columns: 0.7fr 1.3fr;
    margin: 3rem 0 2rem 0;
}

.profile-img {
    width: 140px;
    height: 140px;
    border-radius: 50%;

    /* Protect aspect ratio */
    object-fit: cover;

    box-shadow:
            0 4px 6px -1px rgba(0, 0, 0, 0.1),
            0 10px 15px -3px rgba(0, 0, 0, 0.2),
            0 20px 25px -5px rgba(0, 0, 0, 0.1);


    margin: 1rem;
}

.hero-text h1 {
    margin: 0;
}

.hero p {
    margin: 0 1em 8em 0;
    text-align: justify;
}

.elevator-pitch {
    margin: 0.4em 1em;
}




/* --- RESPONSIVE DESIGN: Adjust for Desktop (>=1024px) --- */
@media (min-width: 1024px) {

    /* Profile Header Desktop */
    .hero {
        display: flex;
        margin: 6rem auto 3rem auto;
        gap: 30px;
    }

    .profile-img {
        width: 160px;
        height: 160px;
    }

    /* Navigation Desktop */
    nav li a {
        padding: 1rem 1.5rem;
        font-size: 1rem;
    }

    header {
        top: 1.5rem;
    }
}

